{% extends 'layout/layoutBase.html.twig' %}

{% block tituloPagina %} 
	{{title}}
{% endblock %}

{% block contenido %}

	<br><br><br><br>

	<div id="data-table-v1">
		<table style="width:80%; margin-left:10%;" >
			{{ form_start(form, {'attr': {'class': 'form-control'}}) }}
				<tr>	
					<th colspan="2"> {{title}} estatus de firma </th>
			  	</tr>

			  	<tr>
			  		<td width="20%;" ><strong>Opción</strong></td>
			  		<td>{{ form_widget(form.opcion) }}</td>
			  	</tr>

			  	<tr>
			  		<td width="20%;" ><strong>Respuesta</strong></td>
			  		<td>{{ form_widget(form.respuesta) }}</td>
			  	</tr>

			  	<tr>
			  		<td  colspan="2">{{ form_widget(form.submit) }}</td>
			  	</tr>

			{{ form_end(form) }}
		</table>	
	</div>

{% endblock %}
