<div id="data-table-v1">
	<table>

		<tr>
			<th>Titulo</th>
			<th width="10%">Fecha inicio</th>
			<th width="10%">Fecha fin</th>
			<th width="10%">Estatus</th>
			<th width="5%"><i class="fas fa-cogs"></i></th>
		</tr>

	{% for temas in TemasMinutas %}

		{% if temas.titulo != 'Principales acuerdos de la reuni贸n' %}

				<tr>
					<td >{{ temas.titulo }}</td>
					<td >{{ temas.compromisoInicio }}</td>
					<td >{{ temas.compromisofin }}</td>

					<td >
						{{ temas.idEstatus }}
					</td>

					<td class="action-icons">
						<i onclick="MoreInfoTema({{ temas.id }})" style="color: #333;" class="fas fa-eye"></i>
						<i onclick="window.location.href='{{ temas.idReunion }}/TemaUpdate@{{ temas.id }}';" style="color: #053a76;" class="fas fa-edit"></i>		
						<i style="color:red;" class="fas fa-trash"></i>
					</td>
				</tr>
					
		{% endif %}


	{% endfor %}
	</table>

</div>

<div id="content-modals">


	{% for temas in TemasMinutas %}

		<div id="DetailTema-{{ temas.id }}">

			<div class="row modal-wm" >

				<div class="col-md-11">
					<h2>Detalle tema</h2>
				</div>

				<div class="col-md-1" style="text-align:right;">
					<span onclick="CloseModal({{ temas.id }})" >
						<i class="fas fa-times"></i>
					</span>
				</div>

					<div class="col-md-1" >
						<p>ID</p>
						<input class="form-control"  value="{{ temas.id }}" disabled="">
					</div>

					<div class="col-md-11" >
						<p>Titulo</p>
						<input class="form-control"  value="{{ temas.titulo }}" disabled="">
					</div>

					<div class="col-md-2" >
						<p>Fecha inicio</p>
						<input class="form-control"  value="{{ temas.compromisoInicio }}" disabled="">
					</div>

					<div class="col-md-2" >
						<p>Fecha fin</p>
						<input class="form-control"  value="{{ temas.compromisoFin }}" disabled="">
					</div>

					<div class="col-md-2" >
						<p>Actualizaci贸n</p>
						<input class="form-control"  value="{{ temas.ultimaModificacion }}" disabled="">
					</div>

					<div class="col-md-3" >
						<p>Estatus</p>
						{% for  estatus in CatalogoEstatus %}
							{% if temas.idEstatus == estatus.id %}
								<input class="form-control"  value="{{ estatus.nombre }}" disabled="">
							{% endif %}
						{% endfor  %}
						
					</div>


					<div class="col-md-3" >
						<p>Categoria</p>
						{% for  Categoria in CatalgoCategorias %}
							{% if temas.idCategoria == Categoria.id %}
								<input class="form-control"  value="{{ Categoria.nombre }}" disabled="">
							{% endif %}
						{% endfor  %}
					</div>


					<div class="col-md-6" >
						<p>Requerimientos</p>
						<div class="overflow-auto textarea-fake" style="max-width: ; max-height: 150px;" >
							{{ temas.requerimiento|raw }}
						</div>
					</div>

					<div class="col-md-6" >
						<p>Linea guia</p>
						<div class="overflow-auto textarea-fake" style="max-width: ; max-height: 150px;" >
							{{ temas.lineaGuia|raw }}
						</div>
					</div>

					<div class="col-md-6" >
						<p>Compromiso acci贸n</p>
						<div class="overflow-auto textarea-fake" style="max-width: ; max-height: 150px;" >
							{{ temas.compromisoAccion|raw }}
						</div>
					</div>

					<div class="col-md-6" >
						<p>Compromiso</p>
						<div class="overflow-auto textarea-fake" style="max-width: ; max-height: 150px;" >
							{{ temas.compromiso|raw }}
						</div>
					</div>

					<div class="col-md-6" >
						<p>Observaci贸n</p>
						<div class="overflow-auto textarea-fake" style="max-width: ; max-height: 150px;" >
							{{ temas.observacion|raw }}
						</div>
					</div>

				

			</div>

		</div>
				
	{% endfor %}

	
</div>

