<div id="data-table-v1">
	<table>
		
		<tr>
			<th width="3%">ID</th>
			<th>Objetivo</th>
			<th>Fecha inicio</th>
			<th>Estatus</th>
			<th width="3%"><i class="fas fa-cogs"></i></th>
		</tr>

		{% for minuta in Minutas %}

			<tr>
				<td>{{ minuta.id }}</td>
				<td>{{ minuta.objetivo }}</td>
				<td>{{ minuta.fechaInicio }}</td>
				<td>{{ minuta.estatus }}</td>
				<td class="action-icons">
					<i onclick="window.location.href='minuta/{{ minuta.id }}';" style="color: #333;" class="fas fa-eye"></i>
					<i onclick="window.location.href='minuta-update/{{ minuta.id }}';" style="color: #053a76;" class="fas fa-edit"></i>		
					<i style="color:red;" class="fas fa-trash"></i>
				</td>
			</tr>

		{% endfor %}

	</table>
</div>