<div id="data-table-v1">

			<!-- DATOS GENERALES -->
			<table>
				<tr>
			    	<th rowspan="3">
			    		<img width="60%" src='http://localhost/server/symfony/my_first_project/public/images/prodemex.png'>
			    	</th>
					<th colspan="3"> MINUTA  </th>
			  	</tr>

			  	<tr>
			  		<td colspan="3"><center><strong>{{ MinutaDetalle.objetivo }}</strong></center></td>
			  	</tr>

			  	<tr>
			  		<td colspan="3"><center><strong>Objetivo:</strong> {{ MinutaDetalle.objetivo }}</center></td>
			  	</tr>

			  	<tr>
			  		<td><strong>Fecha de reunión:</strong> {{ MinutaDetalle.fechaInicio }}</td>
			  		<td><strong>Inicio de Reunión:</strong> {{ MinutaDetalle.fechaInicio }}</td>
			  		<td><strong>Fin de reunión:</strong> {{ MinutaDetalle.fechaFin }}</td>
			  		<td><strong>Fecha de Próxima Reunión:</strong> {{ MinutaDetalle.proximaReunion }}</td>
			  	</tr>
			</table>

			<br><br>

			<!-- ASISTENTES -->
			<table>
				<tr>
					<th colspan="4"> ASISTENTES </th>
				</tr>
				<tr>
					<th>Nombre</th>
					<th>Iniciales </th>
					<th>Área / Empresa</th>
					<th>Firma</th>
				</tr>

				{% for audiencia in MinutaDetalle.audiencia %}

					{% if audiencia.asistencia == 1 %}

						<tr>

							<td>
								{% for usuario in MinutaDetalle.usuarios %}
									{% if usuario.id == audiencia.idusuario %}
										{{ usuario.nombre }} {{ usuario.apellido }}
									{% endif %}
								{% endfor %}
							</td>

							<td>
								{% for usuario in MinutaDetalle.usuarios %}
									{% if usuario.id == audiencia.idusuario %}
										{{ usuario.iniciales }}
									{% endif %}
								{% endfor %}
							</td>

							<td>
								{% for usuario in MinutaDetalle.usuarios %}
									{% if usuario.id == audiencia.idusuario %}
										{{ usuario.area }}
									{% endif %}
								{% endfor %}
							</td>

							<td class="estatus-asistencia-neutro" >
								<center><i class="fas fa-times-circle"></i></center>
							</td>

							

						</tr>

						{% if audiencia.estatus == 1 %}

							<tr>

								<td>
									{% for usuario in MinutaDetalle.usuarios %}
										{% if usuario.id == audiencia.idusuario %}
											{{ usuario.nombre }} {{ usuario.apellido }}
										{% endif %}
									{% endfor %}
								</td>

								<td>
									{% for usuario in MinutaDetalle.usuarios %}
										{% if usuario.id == audiencia.idusuario %}
											{{ usuario.iniciales }}
										{% endif %}
									{% endfor %}
								</td>

								<td>
									{% for usuario in MinutaDetalle.usuarios %}
										{% if usuario.id == audiencia.idusuario %}
											{{ usuario.area }}
										{% endif %}
									{% endfor %}
								</td>

								<td class="estatus-asistencia-on" >
									<center><i class="fas fa-check-circle"></i></center>
								</td>	

							</tr>
						{% endif %}

					{% endif %}

				{% endfor %}
			</table>

			<br><br>

			<!-- AUSENTES -->
			<table>
				<tr>
					<th colspan="4" class="th-ausentes" ><strong>AUSENTES</strong></th>
				</tr>
				<tr>
					<th class="th-ausentes">Nombre</th>
					<th class="th-ausentes">Iniciales </th>
					<th class="th-ausentes">Área / Empresa</th>
					<th class="th-ausentes">Firma</th>
				</tr>

				{% for audiencia in MinutaDetalle.audiencia %}

					{% if audiencia.asistencia != 1 %}

						<tr>

							<td>
								{% for usuario in MinutaDetalle.usuarios %}
									{% if usuario.id == audiencia.idusuario %}
										{{ usuario.nombre }} {{ usuario.apellido }}
									{% endif %}
								{% endfor %}
							</td>

							<td>
								{% for usuario in MinutaDetalle.usuarios %}
									{% if usuario.id == audiencia.idusuario %}
										{{ usuario.iniciales }}
									{% endif %}
								{% endfor %}
							</td>

							<td>
								{% for usuario in MinutaDetalle.usuarios %}
									{% if usuario.id == audiencia.idusuario %}
										{{ usuario.area }}
									{% endif %}
								{% endfor %}
							</td>

							<td class="estatus-asistencia-off" >
								<center><i class="fas fa-times-circle"></i></center>
							</td>

						</tr>

					{% endif %}

								
				{% endfor %}
			</table>

			<br><br>

			<!-- AGENDA DE MINUTA -->
			<table>
			  	<tr>
			    	<th> AGENDA </th>
			  	</tr>
				<tr>
					<td>{{ MinutaDetalle.itinerario|raw }}</td>
				</tr>
			</table>

			<br><br>

			<!-- DIRECCION GENERAL - TEMAS MINUTA -->
			<table>

			  	<tr>
			    	<th colspan="3">PRINCIPALES ACUERDOS DE LA REUNIÓN</th>
			  	</tr>

			</table>

			{% for temas in MinutaDetalle.temasMinuta %}

				{% if temas.titulo == 'Principales acuerdos de la reunión' %}

					<table style="border-top: 5px solid #861717; border-bottom: 5px solid #861717;" >
				  		<tr>
				  			<td>{{ temas.observacion|raw }}</td>
				  		</tr>
				  	</table>
					
				{% endif %}
			{% endfor %}

			<br><br>

			<!-- DIRECCION GENERAL - TEMAS MINUTA -->
			<table>

			  	<tr>
			    	<th colspan="3">DIRECCION GENERAL</th>
			  	</tr>

			  	<tr>
			  		<td colspan="3" >Requerimientos</td>
			  	</tr>

			</table>

			<!-- TEMAS -->
			{% for temas in MinutaDetalle.temasMinuta %}
				{% if temas.titulo != 'Principales acuerdos de la reunión' %}
					<table style="border-top: 5px solid #861717;" >
				  		<tr>
							<th colspan="3">{{ temas.titulo }}</th>

							{% if temas.idestatus == 1 %}
								<td style="background-color: #00FF00;" colspan="1">
									<strong>En proceso (en tiempo)</strong>
								</td>
							{% elseif temas.idestatus == 2 %}
								<td style="background-color: #00FF00;" colspan="1"><strong>En proceso (retraso)</strong></td>
							{% elseif temas.idestatus == 3 %}
								<td style="background-color: #00FF00;" colspan="1"><strong>En proceso (fuera de tiempo)</strong>  </td>
							{% elseif temas.idestatus == 4 %}
								<td style="background-color: #00FF00;" colspan="1"><strong>Por definir</strong>  </td>
							{% elseif temas.idestatus == 5 %}
								<td style="background-color: #00FF00;" colspan="1"><strong>Semanal</strong>  </td>
							{% endif %}
							
						</tr>
						<tr>
							<td colspan="2"><strong>Responsable: </strong>
								{% for temaUsuario in MinutaDetalle.temasUsuarios %}
									{% if temas.id == temaUsuario.idtema %}
										{% for usuario in MinutaDetalle.usuarios %}
											{% if temaUsuario.idUsuario == usuario.id %}
												{{ usuario.nombre }} {{ usuario.apellido }},
											{% endif %}
										{% endfor %}
									{% endif %}
								{% endfor %}	
							</td>
							<td colspan="1"><strong>Inicio: </strong> {{ temas.compromisoinicio	}}</td>
							<td colspan="1"><strong>Conclusión: </strong></td>
						</tr>
				  	</table>

				  	<table>
				  		<tr>
				  			<td width="50%">
				  				<h3>Requerimeintos</h3>
				  				{{ temas.requerimiento|raw}}
				  			</td>
				  			<td width="50%">
				  				<h3>Acuerdos</h3>
				  				{{ temas.requerimiento|raw}}
				  			</td>
				  		</tr>
				  		<tr>
				  			<td>
				  				<h3>Lineamientos</h3>
				  				{{ temas.lineaguia|raw}}
				  			</td>
				  			<td>
				  				<h3>Acciones</h3>
				  				{{ temas.compromisoaccion|raw}}
				  			</td>
				  		</tr>

				  		<tr>
				  			<td colspan="2">
				  				<h3>Observaciónes</h3>
				  				{{ temas.observacion|raw}}
				  			</td>
				  		</tr>

				  	</table>
				{% endif %}
			{% endfor %}

</div>