{% extends 'layout/layoutBase.html.twig' %}

{% block tituloPagina %} 
	{{title}}
{% endblock %}

{% block contenido %}
	<h1>{{title}}</h1>

	<hr class="hr-red">

	<div id="data-table-v1">

		<table>

		  	<tr>
		    	<th>ID</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Rol</th>
				<th>Area</th>
				<th>Clave</th>
				<th>Estatus</th>
				<th><i class="fas fa-cogs"></i></th>
		  	</tr>

		  	{% for usuario in Usuarios %}

				<tr>
					<td><center>{{ usuario.id }}</center></td>
					<td>{{ usuario.nombre }}</td>
					<td>{{ usuario.apellido }}</td>
					<td>{{ usuario.email }}</td>
					<td>{{ usuario.rol }}</td>
					<td>{{ usuario.area }}</td>
					<td>{{ usuario.iniciales }}</td>
					<td>{{ usuario.estatus }}</td>
					<td width="3%">
						<center><i class="fas fa-user-cog" alt="Ajustes del usuario" title="Ajustes del usuario" ></i></center>
					</td>
				</tr>

			{% endfor %}

		</table>

	</div>
	
{% endblock %}
