{% extends 'layout/layoutBase.html.twig' %}

{% block tituloPagina %} 
	{{title}}
{% endblock %}

{% block contenido %}
	<h1>{{title}}</h1> 

	<hr class="hr-red">

	<div id="data-table-v1">

		<table>

		  	<tr>
		    	<th width="5%" >ID</th>
		    	<th width="20%" >ID Minuta</th>
				<th width="20%">ID Usuario</th>
				<th width="10%">Covocado</th>
				<th width="10%">Asistencia</th>
				<th >Observación</th>
				<th width="3%" ><i class="fas fa-cogs"></i></th>
		  	</tr>

		  	{% for audiencia in Audiencias %}

				<tr>
					<td><center>{{ audiencia.id }}</center></td>

					<td>
						{% for minuta in Minutas %}
							{% if minuta.id == audiencia.idminuta %}
								{{minuta.objetivo }}
							{% endif %}
						{% endfor %}
					</td>

					<td>
						{% for usuario in Usuarios %}
							{% if usuario.id == audiencia.idusuario %}
								{{usuario.user }}
							{% endif %}
						{% endfor %}
					</td>

					<td>
						{% if audiencia.asistencia == '1' %}

							SI

						{% else %}

							NO

						{% endif %}
	
					</td>

					<td>
						{% if audiencia.estatus == '1' %}

							Confirmada

						{% else %}

							Sin confirmar

						{% endif %}
					</td>

					<td>{{ audiencia.observacion }}</td>

					<td>
						<center><i class="fas fa-user-cog" alt="Ajustes de Audiencia" title="Ajustes de Audiencia" ></i></center>
					</td>
				</tr>

			{% endfor %}

		</table>

	</div>

{% endblock %}
