{% extends 'layout/layoutBase.html.twig' %}

{% block tituloPagina %} 
	{{title}}
{% endblock %}


{% block contenido %}
	<h1>{{title}}</h1> 

	<hr class="hr-red">

	<div id="data-table-v1">

		<table>

		  	<tr>
		    	<th width="3%">ID</th>
				<th>Categoria</th>
				<th>Sección asignada</th>
				<th width="3%"><i class="fas fa-cogs"></i></th>
		  	</tr>

		  	{% for categoria in Categorias %}

				<tr>
					<td><center>{{ categoria.id }}</center></td>
					<td>{{ categoria.nombre }}</td>
					<td>
						{% for seccion in Secciones %}
							{% if categoria.idSeccion == seccion.id %}
								{{seccion.nombre }}
							{% endif %}
						{% endfor %}
					</td>
					<td>
						<center><i class="fas fa-user-cog" alt="Ajustes de Minuta" title="Ajustes de Minuta" ></i></center>
					</td>
				</tr>

			{% endfor %}

		</table>

	</div>

{% endblock %}