{% extends 'layout/layoutBase.html.twig' %}

{% block tituloPagina %} 
	{{title}}
{% endblock %}

{% block contenido %}
	<h1>{{title}}</h1> 

	<div id="data-table-v1">

		<table>

		  	<tr>
		    	<th>ID</th>
				<th>Objetivo</th>
				<th>Fecha inicio</th>
				<th>Fecha fin</th>
				<th>Proxima reunion</th>
				<th>Itinerario</th>
				<th>Autorización</th>
				<th>Estatus</th>
				<th><i class="fas fa-cogs"></i></th>
		  	</tr>

		  	{% for minuta in minutas %}

				<tr>
					<td><center>{{ minuta.id }}</center></td>
					<td>{{ minuta.objetivo }}</td>
					<td>{{ minuta.fechaInicio }}</td>
					<td>{{ minuta.fechaFin }}</td>
					<td>{{ minuta.proximaReunion }}</td>
					<td>{{ minuta.itinerario|raw }}</td>
					<td>{{ minuta.autorizacion }}</td>
					<td>{{ minuta.estatus }}</td>
					<td width="3%">
						<center><i class="fas fa-user-cog" alt="Ajustes de Minuta" title="Ajustes de Minuta" ></i></center>
					</td>
				</tr>

			{% endfor %}

		</table>

	</div>

{% endblock %}