{% extends 'layout/layoutBaseConsulta.html.twig' %}

{% block tituloPagina %} 
	{{title}}
{% endblock %}

{% block contenido %}
	
	<div id="fitro-busqueda-minuta">
		<h1>{{title}}<span> {% if fecha_minuta is defined %} {{fecha_minuta}} {% endif %}</span></h1>
	</div>

	<hr class="hr-red">

	{% if MinutaDetalle is defined %}
		{{ include('minuta/minutas/detail-minuta.html.twig') }}
	{% else %}
 		{{ form_start(minuta_form) }}
		{{ form_widget(minuta_form) }}
		{{ form_end(minuta_form) }}
	{% endif %}
	

{% endblock %}