{% extends 'layout/layoutBaseConsulta.html.twig' %}

{% block tituloPagina %} 
	{{title}}
{% endblock %}

{% block contenido %}
	
	<div id="fitro-busqueda-minuta">
		<h1>{{title}}<span> {% if fecha_minuta is defined %} {{fecha_minuta}} {% endif %}</span></h1>
	</div>

	{% if MinutaDetalle is defined %}

		{{ include('minuta/minutas/detail-minuta.html.twig') }}

	{% else %}

		<!-- formulario general de minuta -->

		<div id="form-minuta">

			<!-- MINUTA -->
			<h2>Minuta</h2>
			{{ form_start(form, {'attr': {'class': 'form-control'}}) }}

				<div class="row">
					<div class="col-md-6">
						<p>Objetivo</p>
						{{ form_widget(form.objetivo) }}
					</div>

					<div class="col-md-3">
						<p>autorización</p>
						{{ form_widget(form.autorizacion) }}
					</div>

					<div class="col-md-3">
						<p>Estatus</p>
						{{ form_widget(form.estatus) }}
					</div>

					<div class="col-md-2"> 
						<p>fecha inicio</p>
						{{ form_widget(form.fecha_inicio_1) }}
					</div>

					<div class="col-md-2"> 
						<p>nueva fecha inicio</p>
						{{ form_widget(form.fecha_inicio_2) }}
					</div>

					<div class="col-md-2"> 
						<p>fecha fin</p>
						{{ form_widget(form.fecha_fin_1) }}
					</div>

					<div class="col-md-2"> 
						<p>nueva fecha fin</p>
						{{ form_widget(form.fecha_fin_2) }}
					</div>

					<div class="col-md-2"> 
						<p>proxima reunion</p>
						{{ form_widget(form.proxima_reunion_1) }}
					</div>

					<div class="col-md-2"> 
						<p>nueva proxima reunion</p>
						{{ form_widget(form.proxima_reunion_2) }}
					</div>

					<div class="col-md-8">
						<p>Itinerario</p>
						{{ form_widget(form.itinerario) }}
					</div>

					<div class="col-md-4">
						<p>asistentes</p>
						{{ form_widget(form.audiencia) }}
					</div>

				</div>

				<hr>

				<div class="row">
					<div class="col-md-9">
					</div>

					<div class="col-md-3">
						{{ form_widget(form.submit) }}
					</div>
				</div>
			
			{{ form_end(form) }}

			<!-- TEMAS -->
			<h2>Temas de minuta</h2>
			<div class="row">

				<div class="col-md-12">
					{% if TemasMinutas is defined %}
						{{ include('minuta/temas/all-temas.html.twig') }}
					{% endif %}
				</div>

				<div class="col-md-12">
					{{ form_start(form_tema, {'attr': {'class': 'form-control'}}) }}

						<div class="row">
							<div class="col-md-2">
								<p>Nuevo tema</p>
								{{ form_widget(form_tema.titulo) }}
							</div>
							<div class="col-md-2">
								<p>Categoría</p>
								{{ form_widget(form_tema.categoria) }}
							</div>
							<div class="col-md-2">
								<p>Estatus</p>
								{{ form_widget(form_tema.estatus) }}
							</div>
							<div class="col-md-2">
								<p>Inicio</p>
								{{ form_widget(form_tema.fecha_inicio) }}
							</div>
							<div class="col-md-2">
								<p>Conclusión</p>
								{{ form_widget(form_tema.fecha_fin) }}
							</div>
							<div class="col-md-2">
								<p>Responsables</p>
								{{ form_widget(form_tema.responsables) }}
							</div>
						</div>

						<hr>

						<div class="row">
							<div class="col-md-9">
							</div>
							<div class="col-md-3">
							{{ form_widget(form_tema.submit) }}
							</div>
						</div>

					{{ form_end(form_tema) }}
				</div>
			</div>

			<!-- next bloque -->
			<h2>Temas de minuta</h2>

			

		</div>

		<br>
		<!-- scripts tiny text area -->
	    <script>
	      $('textarea.tiny').tinymce({
	        height: 750,
	        menubar: false,
	        plugins: [
	          'advlist autolink lists link image charmap print preview anchor',
	          'searchreplace visualblocks code fullscreen',
	          'insertdatetime media table paste code help wordcount'
	        ],
	        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
	      });

	      $('textarea.tiny2').tinymce({
	        height: 750,
	        menubar: false,
	        plugins: [
	          'advlist autolink lists link image charmap print preview anchor',
	          'searchreplace visualblocks code fullscreen',
	          'insertdatetime media table paste code help wordcount'
	        ],
	        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
	      });


	      /* MODAL JS */

	      function MoreInfoTema($id_tema){

	      	//alert($id_tema);
	      	$('#DetailTema-'+$id_tema).toggle();

	      }


	      function CloseModal($id_tema){
	      	//alert($id_tema);
	      	$('#DetailTema-'+$id_tema).toggle();

	      }

	    </script>

	{% endif %}
	

{% endblock %}
