{% extends 'layout/layoutBase.html.twig' %}

{% block tituloPagina %} 
	{{title}}
{% endblock %}

{% block contenido %}

	<h1>{{title}}</h1>

	<hr class="hr-red">

	<div id="data-table-v1">

		<ol>
			<li>
				<h2>Minutas</h2>
			</li>
			<li>
				<ul>

					<li>
						<i id="buscarRegistro" class="fas fa-search btn-off"></i>
					</li>
					
					<li onclick="verTable('Minuta')">
						<i id="btnoninfoMinuta" class="fas fa-eye eye-off" title="Mas información" alt="Mas información" ></i>
						<i id="btnoffinfoMinuta"class="fas fa-eye-slash btn-off" title="Mas información" alt="Mas información" ></i>
					</li>

				</ul>
			</li>
		</ol>

		<div id="filtroRegistro">
			filtro y barra de busqueda
		</div>

		<table id="tableMinuta" class="off">

		  	<tr>
		    	<th width="3%">ID</th>
				<th width="25%">Objetivo</th>
				<th width="8%">Fecha inicio</th>
				<th width="8%">Fecha fin</th>
				<th width="8%">Proxima reunion</th>
				<th>Itinerario</th>
				<th width="8%">Autorización</th>
				<th width="5%">Estatus</th>
				<th width="3%"><i class="fas fa-cogs"></i></th>
		  	</tr>

		  	{% for minuta in Minutas %}

				<tr>
					<td><center>{{ minuta.id }}</center></td>
					<td>{{ minuta.objetivo }}</td>
					<td>{{ minuta.fechaInicio }}</td>
					<td>{{ minuta.fechaFin }}</td>
					<td>{{ minuta.proximaReunion }}</td>
					<td>
						{{ minuta.itinerario|raw }}
					</td>
					<td>{{ minuta.autorizacion }}</td>
					<td >{{ minuta.estatus }}</td>
					<td >
						<center><i class="fas fa-user-cog" alt="Ajustes de Minuta" title="Ajustes de Minuta" ></i></center>
					</td>
				</tr>

			{% endfor %}

		</table>

	</div>

	<hr class="hr-red">

	<div id="data-table-v1">

		<ol>
			<li>
				<h2>Usuarios</h2>
			</li>
			<li>
				<ul>
					<li>
						<i id="buscarRegistro" class="fas fa-search btn-off"></i>
					</li>

					<li onclick="verTable('Usuario')">
						<i id="btnoninfoUsuario" class="fas fa-eye eye-off" title="Mas información" alt="Mas información" ></i>
						<i id="btnoffinfoUsuario" class="fas fa-eye-slash btn-off" title="Mas información" alt="Mas información" ></i>
					</li>
				</ul>
			</li>
		</ol>

		<div id="filtroRegistro">
			filtro y barra de busqueda
		</div>

		<table id="tableUsuario" class="off" >

		  	<tr>
		    	<th>ID</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Rol</th>
				<th>Area</th>
				<th>Clave</th>
				<th>Estatus</th>
				<th><i class="fas fa-cogs"></i></th>
		  	</tr>

		  	{% for usuario in Usuarios %}

				<tr>
					<td><center>{{ usuario.id }}</center></td>
					<td>{{ usuario.nombre }}</td>
					<td>{{ usuario.apellido }}</td>
					<td>{{ usuario.email }}</td>
					<td>{{ usuario.rol }}</td>
					<td>{{ usuario.area }}</td>
					<td>{{ usuario.iniciales }}</td>
					<td>{{ usuario.estatus }}</td>
					<td width="3%">
						<center><i class="fas fa-user-cog" alt="Ajustes del usuario" title="Ajustes del usuario" ></i></center>
					</td>
				</tr>

			{% endfor %}

		</table>

	</div>

	<hr class="hr-red">

	<div id="data-table-v1">

		<ol>
			<li>
				<h2>Audiencia</h2>
			</li>
			<li>
				<ul>

					<li>
						<i id="buscarRegistro" class="fas fa-search btn-off"></i>
					</li>
					
					<li onclick="verTable('Asistencia')">
						<i id="btnoninfoAsistencia" class="fas fa-eye eye-off" title="Mas información" alt="Mas información" ></i>
						<i id="btnoffinfoAsistencia"class="fas fa-eye-slash btn-off" title="Mas información" alt="Mas información" ></i>
					</li>

				</ul>
			</li>
		</ol>

		<div id="filtroRegistro">
			filtro y barra de busqueda
		</div>

		<table id="tableAsistencia" class="off">

		  	<tr>
		    	<th width="5%" >ID</th>
		    	<th width="20%" >ID Minuta</th>
				<th width="20%">ID Usuario</th>
				<th width="10%">Covocado</th>
				<th width="10%">Asistencia</th>
				<th >Observación</th>
				<th width="3%" ><i class="fas fa-cogs"></i></th>
		  	</tr>

		  	{% for audiencia in Audiencias %}

				<tr>
					<td><center>{{ audiencia.id }}</center></td>

					<td>
						{% for minuta in Minutas %}
							{% if minuta.id == audiencia.idminuta %}
								{{minuta.objetivo }}
							{% endif %}
						{% endfor %}
					</td>

					<td>
						{% for usuario in Usuarios %}
							{% if usuario.id == audiencia.idusuario %}
								{{usuario.user }}
							{% endif %}
						{% endfor %}
					</td>

					<td>
						{% if audiencia.asistencia == '1' %}

							SI

						{% else %}

							NO

						{% endif %}
	
					</td>

					<td>
						{% if audiencia.estatus == '1' %}

							Confirmada

						{% else %}

							Sin confirmar

						{% endif %}
					</td>

					<td>{{ audiencia.observacion }}</td>

					<td>
						<center><i class="fas fa-user-cog" alt="Ajustes de Audiencia" title="Ajustes de Audiencia" ></i></center>
					</td>
				</tr>

			{% endfor %}

		</table>

	</div>

{% endblock %}
