{% extends 'layout/layoutBase.html.twig' %}

{% block tituloPagina %} 
	{{title}}
{% endblock %}

{% block cabecera %}
	{{ parent() }}
	{% set nombres = 'joses salvador' %}

	{{ nombres }}

{% endblock %}

{% block contenido %}
	
	{{ parent() }}

	<h1>{{title}}</h1>
	<h2>el nombres es :{{nombre}}</h2>
	<h3>el apellido es  : {{apellido}}</h3>

	<hr>

	{% include('examples/arreglos.html.twig') %}

	<hr>

	{% include('examples/condicionales.html.twig') %}

	<hr>

	{% include('examples/bucles.html.twig') %}

	<hr>

	{% include('examples/filtros.html.twig') %}

	<hr>

	{% include('examples/extenciones.html.twig') %}


{% endblock %}